body{
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.4em;
    margin: 0;
}

main p{
    text-align: center;
}

p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 1.6em;
}

.header{
    background: #9991a9;
    color: white;

}

.header a{

    color: white;
    text-decoration: none;

}
.logo-p-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background: #9991a9;
    padding: 4rem 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.return{
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.return:hover {
    font-size: 30px;
}  
  
.return:visited {
    color: #fda500;
}

.return:active {
    color: #ffcb69;
}

.return:link {
    color: #fda500;
}